<div ng-if="$state.current.name === 'base.room'">
  <div class="section">
    <form name="waitingForm">
      <p class="label">Your name</p>
      <input ng-model="player.name" required type="text" placeholder="Your Name" name="playerName">
      <span class="error" ng-show="waitingForm.playerName.$error.required">What's your name?</span>
    </form>
  </div>
  <div class="section">
    <div ng-click="goBack()" class="button">Back</div>
    <div ng-click="ready()" class="button">Ready?</div>
  </div>
  <div class="section">
    <p class="label">Link to give to other players</p>
    <a ng-href="{{url}}">{{url}}</a>
  </div>
  <div class="section">
    <p class="label">QR Code:</p>
    <div ng-click="getQR()" class="button">Get QR Code?</div>
    <div ng-bind-html="svgQR" class="qr-code"></div>
  </div>
  <div class="section">
    <p class="label">Other players in game</p>
    <div ng-repeat="other in others">
      <div class="other-user" ng-class="{ 'ready': other.ready }">{{other.name}}</div>
    </div>
  </div>
</div>
<div ui-view></div>
