h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

p {
    font-family: verdana, sans-serif;
    font-size: 12px;
}

.section {
    margin: 10px 0 20px 0;
    text-align: center;
}

.win {
    background-image: url(https://i.imgur.com/4zd8vo4.jpg);
}

.lose {
    background-image: url(http://cdn.hexjam.com/editorial_service/bases/images/000/003/685/xlarge/David-Cameron-Sad.jpg.jpg?1404131443);
}

.draw {
    background-image: url(http://static3.businessinsider.com/image/4e8c4b99eab8eaea1300009b/new-poll-has-the-worst-news-yet-for-obama.jpg);
}

.description {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.game-start-controls {
    margin-top: 20px;
    text-align: center;
}

.starting-info {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.game-start-controls input {
    width: 80%;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    margin: 10px auto;
}

.game-start-controls .button {
    margin: 10px auto;
}

.button {
    background: green;
    border-radius: 5px;
    border: 2px solid darkgreen;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
}

.fullscreen {
    color: white;
    text-align: center;
    font-size: 22px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.end-image {
    background-size: contain;
    background-repeat: no-repeat;
}

.dead {
    background: red;
}

.alive {
    background: lightgreen;
}

.play-again {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.end-text {
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}

.other-user {
    margin: 5px auto;
    max-width: 300px;
}

.other-user.ready {
    background-color: lightgreen;
}

.qr-code {
    max-width: 300px;
    margin: 5px auto;
}