h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

p {
    font-family: verdana, sans-serif;
    font-size: 12px;
}

#canvas {
    width: 200px;
    height: 200px;

    border: 5px solid #ddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#middle {
    background-color: #aaa;
    position: relative;
    width: 4px;
    height: 4px;
    left: 98px;
    top: 98px;
}

#ball {
    background-color: green;
    position: relative;
    width: 20px;
    height: 20px;
    left: 90px;
    top: 90px;

    border-radius: 20px;
    -moz-border-radius: 20px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0) 12px);
    background-image: -webkit-gradient(linear, 0 0, 0 12, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, 0)));
}

#warning {
    padding: 5px 10px;
    font-weight: bold;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    color: black;
    background-color: #FDFFBF;
    border: 1px solid #D7DE07;
}

#console {
    width: 100%;
    min-height:200px;
}

#win-screen {
    background-image: url(https://i.imgur.com/4zd8vo4.jpg);
}

#lose-screen {
    background-image: url(http://cdn.hexjam.com/editorial_service/bases/images/000/003/685/xlarge/David-Cameron-Sad.jpg.jpg?1404131443);
}

.description {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.game-start-controls {
    margin-top: 20px;
    text-align: center;
}

.starting-info {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.game-start-controls input {
    width: 80%;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    margin: 10px auto;
}

.game-start-controls .button {
    margin: 10px auto;
}

.button {
    background: green;
    border-radius: 5px;
    border: 2px solid darkgreen;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
}

.half-panel {
    width:45%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid black;
}

.half-panel {
    margin: 10px auto;
    display: inline-block;
}

.fullscreen {
    color: white;
    text-align: center;
    font-size: 22px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.end-image {
    background-size: contain;
    background-repeat: no-repeat;
}

.loser {
    background: red;
}

.alive {
    background: lightgreen;
}